.forecast-summaries {
  display: flex;
  justify-content: space-between;
  color: #f08080;
  font-weight: 50px;
  background-color:rgb(255, 255, 255, 0.5);
  padding: 2vmin;
  border-radius: 25px;
}
h1 {
  font-size: 25px;
}